.gradle
/local.properties
.DS_Store
/build
/Browser_History_IE/IE_Browser_History/Strong_Name_Key.snk
/datavpnserver_info_and_commands.txt
/RATINGCERTIFICATE--BrowsingHistor--3368558f-2eab-48d9-ae8f-0f089049d649.msg