<?xml version="1.0" encoding="utf-8"?>
<!-- Browser History Collector is partly based on code of Nilanchala at -->
<!-- http://javatechig.com/android/repeat-alarm-example-in-android (posted on Sep 17, 2014) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="datavpnserver.cs.columbia.edu" >

    <!-- Permission to start Alarm on device reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.chrome.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.chrome.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="permission.WRITE_HISTORY_BOOKMARKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="datavpnserver.cs.columbia.edu.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="datavpnserver.cs.columbia.edu.Preferences"
            android:label="@string/title_activity_preferences"
            android:theme="@android:style/Theme.Light" >
        </activity>

        <receiver
            android:name="datavpnserver.cs.columbia.edu.AlarmBroadCastReceiver" >
        </receiver>

        <receiver
            android:name="datavpnserver.cs.columbia.edu.DeviceBootReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="datavpnserver.cs.columbia.edu.WebPostService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
